@import url("normalize.css");
@import url("skeleton.css");

body {
	background-image: url(img/bg.png);
	background-repeat: repeat;
}

.container {
	max-width: 920px;
}

.copyrights {
	text-align: right;
}

.home {
	background-color: #3399ff;
}

.about {
	background-color: #ffcc33;
}

.portfolio {
	background-color: #cc6633;
}

.photos {
	background-color: #6699cc;
}

.testimonials {
	background-color: #339999;
}

.hire {
	background-color: #999933;
}

.app {
	background-color: #003333;
}

.contact {
	background-color: #666699;
}