/*=============================
Bulletproof @Font-Face Syntax
=============================*/
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'), 
	     url('../fonts/HelveticaNeue-UltraLight.otf') format('opentype');
}
/*=============================
MAIN STYLES
=============================*/
body {
	background-image: url(../img/bg.png);
	background-repeat: repeat;
	color: #ffffff;
	font-family: 'Helvetica Neue';
	letter-spacing: .5px;
	box-sizing: border-box;
}
header {
	margin: 100px 5px;
}
h1 {
	font-size: 65px;
}
header a {
	color: #99a4c1;
}
a {
	text-decoration: none;
	color: #ffffff;
}
.menu {
	font-size: 0; /*illuminate extra margin*/
	display: table; /*for safari browser*/
}
.container {
	width: 930px;
	margin: 0 auto;
}
.single-box {
	width: 150px;
	height: 150px;
	margin: 5px;
}
.link {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.txt {
	position: absolute;
	left: 10px;
	bottom: 10px;
	margin: 0;
	font-size: 18px;
}
.home {
	background-color: #3387ea;
	background-image: url(../img/home.png);
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	position: relative;
}
.about {
	background-color: #f9be3e;
	background-image: url(../img/about.png);
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	position: relative;
}
.portfolio {
	background-color: #d3573e;
	width: 280px;
	height: 150px;
	margin: 5px;
	background-image: url(../img/portfolio.png);
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	position: relative;
}
.photos {
	background-color: #59b0e2;
	background-image: url(../img/photos.png);
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	position: relative;
}
.testimonials {
	background-color: #33af95;
	background-image: url(../img/testimonials.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	position: relative;
}
.hire {
	background-color: #86a73f;
	width: 310px;
	height: 150px;
	margin: 5px;
	background-image: url(../img/hire.png);
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	position: relative;
}
.app {
	background-color: #151a26;
	width: 440px;
	height: 150px;
	margin: 5px;
	float: left;
}
.contact {
	background-color: #7e5b8c;
	background-image: url(../img/contact.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	position: relative;
}
.social a img {
	margin: 5px;
	height: 75px;
	width: 75px;
	float: left;
}
footer {
	position: relative;
}
.copyrights a {
	font-size: 14px;
	color: #99a4c1;
}
.copyrights p {
	position: absolute;
	right: 0;
	top: 40px;
	font-size: 14px;
}
.twitter-timeline {
	min-height: 152px !important;
}
.hover {
	transition: top 0.5s;
}
.hover:hover {
    top: -5px;
}
.hover:active {
	color: #000000;
}
/*=============================
MEDIA QUERIES
=============================*/
@media (max-width: 960px) {
	header {
		margin: 50px 5px;
	}
	h1 {
		font-size: 45px;
	}
	.container {
		width: 610px;
	}
	.portfolio {
		width: 280px;
	}
	.contact {
		float: right;
	}
	.hire {
		width: 280px;
	}
	/*---unknown error in firefox solvation---*/
	@-moz-document url-prefix() { 
		.hire {
			width: 279.5px;
		}
	}
	/*---/unknown error in firefox solvation---*/
}
@media (max-width: 680px) {
	body {
		background-image: url(../img/bg-mob.png);
	}
	header {
		margin: 5px 5px;
	}
	h1 {
		font-size: 24px;
	}
	.container {
		width: 320px;
	}
	.app {
		display: none;
	}
	.contact {
		width: 310px;
	}
	.portfolio {
		width: 310px;
	}
	.hire {
		width: 310px;
	}
	.social a img {
		margin: 5px 5px;
		height: 75px;
		width: 75px;
		float: left;
	}
	.social a:nth-child(2) img {
		margin: 5px 37.5px;
	}
	.copyrights p {
		position: static;
		text-align: center;
		margin-top: 0;
		margin-bottom: 5px;
	}
	h1::after {
		content: " Mobile ";
		font-size: 12.5px;
		font-style: italic;
		letter-spacing: 2px;
		color: #99a4c1;
	}
}